@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.dimensione-var {
  font-size: 1.2em;
}

@media (max-width: 576px) {
  .dimensione-var {
    font-size: 1em;
  }
}


* {
  font-family: "Montserrat", sans-serif;
}

.logo-volante {
  position: absolute;
  top: 1.5em;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 380px) {
  .glogo {
    height: 65px;
  }
}

#myFooter {
  width: 100%;
  background-color: #000000;
  padding: 30px;
  margin-bottom: 0;
  color: #8d8c7c;
  flex-shrink: 0;
  margin-top: auto;
}

.icona {
  cursor: pointer;
}

.home-carousel-container {
  height: calc(100vh - (173px));
}

.crsl-img {
  height: calc(100vh - (173px));
  object-fit: cover;
}

.carousel {
  height: 100%;
  width: 100%;
}

#appjs {
  background-color: #d8ea9e;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#properties-page-root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar-logo {
  height: 65px;
}

@media (max-width: 376px) {
  #navbar-logo {
    height: 50px;
  }
}

@media (max-width: 340px) {
  #navbar-logo {
    height: 40px;
  }
}

.underline-and-pointer-on-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.profile-page-cols {
  min-height: 430px;
}

#delete-button {
  transition: background-color 0.3s ease;
}

#delete-button:hover {
  background-color: red;
}

#logout-button {
  transition: background-color 0.3s ease;
}

#logout-button:hover {
  background-color: red;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 5px;
}

.active {
  opacity: 1;
}

.semi-active {
  opacity: 0.6;
}

.inactive {
  opacity: 0.3;
}

.property-form-confirm-button {
  height: 40px;
  width: 125px;
}

#properties-page-title {
  margin: 1em 1.5em;
  font-weight: 400;
  line-height: 1.05;
}

#filters-button {
  background-color: #8dc53e;
}

#filters-button {
  transition: box-shadow 0.3s ease;
}

#filters-button:hover {
  box-shadow: 0 0 10px 5px #b2d76e;
}

.card-dell-offcanvas {
  transition: background-color 0.3s ease;
}

.card-dell-offcanvas:hover {
  background-color: #b2d76e !important;
}

.property-card-title {
  cursor: pointer;
}

.property-card-title:hover {
  text-decoration: underline;
}

.text-with-background {
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.name-with-background {
  text-shadow: 2px 2px 4px white;
}

#profile-pic-container {
  cursor: pointer;
  display: grid;
  place-items: start;
  height: 115px;
  width: 115px;
  padding: 0;
  position: relative;
}

#plus-icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#profile-pic-container:hover #plus-icon {
  display: block;
}

#profile-pic-container:hover #user-profile-pic {
  filter: brightness(80%);
}

#user-profile-pic {
  cursor: 'pointer';
  height: 110px;
  width: 110px;
  border-radius: 50%;
  margin: '0';
}

#pencil-icon-email {
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 8px;
}

#pencil-icon-name {
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 10px;
}

#user-page-title {
  font-weight: 400;
}

.normal-title-font-size {
  font-size: 3em;
}

@media(max-width: 576px) {
  .normal-title-font-size {
    font-size: 2.3em;
  }
}

.shrink-title-font-size {
  font-size: 1.9em;
}

@media(max-width: 1200px) {
  .shrink-title-font-size {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 474.98px) {
  #detail-carousel-container {
    height: 181px;
    width: 320px;
  }
}

@media only screen and (min-width:475px) and (max-width: 575.98px) {
  #detail-carousel-container {
    height: 221px;
    width: 390px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #detail-carousel-container {
    height: 267px;
    width: 473px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #detail-carousel-container {
    height: 357px;
    width: 631px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  #detail-carousel-container {
    height: 460px;
    width: 815px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  #detail-carousel-container {
    height: 557px;
    width: 986px;
  }
}

@media only screen and (min-width: 1400px) {
  #detail-carousel-container {
    height: 650px;
    width: 1220px;
  }
}

#invia-una-mail {
  transition: box-shadow 0.3s ease
}

#invia-una-mail:hover {
  box-shadow: 0 0 10px 5px #ffffffff;
}

.text-area {
  resize: none;
}