@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.dimensione-var {
  font-size: 1.2em;
}

@media (max-width: 576px) {
  .dimensione-var {
    font-size: 1em;
  }
}


* {
  font-family: "Montserrat", sans-serif;
}

.logo-volante {
  position: absolute;
  top: 1.5em;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 380px) {
  .glogo {
    height: 65px;
  }
}

#myFooter {
  width: 100%;
  background-color: #000000;
  padding: 30px;
  margin-bottom: 0;
  color: #8d8c7c;
  flex-shrink: 0;
  margin-top: auto;
}

.icona {
  cursor: pointer;
}

.home-carousel-container {
  height: calc(100vh - (173px));
}

.crsl-img {
  height: calc(100vh - (173px));
  object-fit: cover;
}

.carousel {
  height: 100%;
  width: 100%;
}

#appjs {
  background-color: #d8ea9e;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#properties-page-root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar-logo {
  height: 65px;
}

@media (max-width: 376px) {
  #navbar-logo {
    height: 50px;
  }
}

@media (max-width: 340px) {
  #navbar-logo {
    height: 40px;
  }
}

.underline-and-pointer-on-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.profile-page-cols {
  min-height: 430px;
}

#delete-button {
  transition: background-color 0.3s ease;
}

#delete-button:hover {
  background-color: red;
}

#logout-button {
  transition: background-color 0.3s ease;
}

#logout-button:hover {
  background-color: red;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 5px;
}

.active {
  opacity: 1;
}

.semi-active {
  opacity: 0.6;
}

.inactive {
  opacity: 0.3;
}

.property-form-confirm-button {
  height: 40px;
  width: 125px;
}

#properties-page-title {
  margin: 1em 1.5em;
  font-weight: 400;
  line-height: 1.05;
}

#filters-button {
  background-color: #8dc53e;
}

#filters-button {
  transition: box-shadow 0.3s ease;
}

#filters-button:hover {
  box-shadow: 0 0 10px 5px #b2d76e;
}

.card-dell-offcanvas {
  transition: background-color 0.3s ease;
}

.card-dell-offcanvas:hover {
  background-color: #b2d76e !important;
}